---
# Crash Course Python for Data Science - Intro to Pandas
---
# 04 - Cleaning Data
---

## STOP! BEFORE GOING ANY FURTHER...  

Remember, this exercises are open book, open neighbour, open everything! Try to do them on your own before looking at the solution samples.

### Import pandas

In [1]:
# Run this!
import pandas as pd
print('pandas imported!')

pandas imported!

### Import the data in the CSV file
You can find the data [here](https://raw.githubusercontent.com/axrd/datasets/master/gdpmessy2.csv). Should have a shape of (222,3). Use this [resource](https://www.iban.com/country-codes) to clean values correctly.

In [6]:
# Run this cell first to load the dataset.
df = pd.read_csv('/Users/heyu/Desktop/dataframe2.csv', index_col=0)

### Quickly inspect the head

In [7]:
### YOUR CODE GOES HERE ###
df.head()

         countrys     GDP code
0     Afghanistan   21.71  AFG
1         Albania   13.40  ALB
2         Algeria  227.80  DZA
3  American Samoa    0.75  ASM
4         Andorra    4.80  AND

### Inspect the tail

In [8]:
### YOUR CODE GOES HERE ###
df.tail()

                countrys    GDP  code
217  U.S. Virgin Islands   5.08   VIR
218            West Bank   6.64   WBG
219                Yemen  45.45   YEM
220               Zambia  25.61   ZMB
221             Zimbabwe  13.74  ZMB}

### What is the shape of the DataFrame? Does it correspond to what we expected?

In [9]:
### YOUR CODE GOES HERE ###
df.shape

(222, 3)

### Missing values?
Find all the missing values and correct them.

In [10]:
# First, check how many missing values you have 
# Hint: Use the sum() method


### YOUR CODE GOES HERE ###
df.isnull().sum()

countrys    4
GDP         3
code        5
dtype: int64

In [11]:
# Now, you need to know which are your missing values so that you can replace them. 
# Hint: Explore the different methods that pandas dataframes have to clean your dataset. 


### YOUR CODE GOES HERE ###
missing_values = df.isnull().sum()
print(missing_values)

countrys    4
GDP         3
code        5
dtype: int64

In [0]:
# Now that you know what is missing, you can 
# use this resource: https://www.iban.com/country-codes to clean the values correctly.

### YOUR CODE GOES HERE ###

In [0]:
# Finally, check that everything worked and you don't have any 
# missing values anymore. 

### YOUR CODE GOES HERE ###

### Find duplicate values  
Clean where necessary:  
*   France has a GDP of 2902.0 billion.
*   Ireland has a GDP of 245.80 billion.
*   Bangladesh has a GDP of 186.60 billion.

In [12]:
# Check if you have any duplicates for the variable "countrys"
# Hint: we did this in the workshop. Check your notes. 


### YOUR CODE GOES HERE ###
df.duplicated(subset=['countrys']).sum()

np.int64(3)

In [13]:
# Check for duplicates in "GDP"

### YOUR CODE GOES HERE ###
df.duplicated(subset=['GDP']).sum()

np.int64(6)

In [14]:
# Check for duplicates in "code"

### YOUR CODE GOES HERE ###
df.duplicated(subset=['code']).sum()

np.int64(5)

In [15]:
# Solve any issues you found

### YOUR CODE GOES HERE ###
df_cleaned = df.drop_duplicates()

In [ ]:
### Verify the change persisted!

In [16]:
### YOUR CODE GOES HERE ###
print(df.duplicated().sum())

0

### You did it! This was quite a challenging exercise. Congratulations on your perseverance. See you on the next one.


---