---
# Crash Course Python for Data Science - Intro to Pandas
---
# 02 - Indexing & Subsetting DataFrames
---

## STOP! BEFORE GOING ANY FURTHER...  

Remember, this exercises are open book, open neighbour, open everything! Try to do them on your own before looking at the solution samples.

### Import pandas

In [24]:
import pandas as pd
print('pandas imported!')

pandas imported!

### Read in your data
Your dataset can be found [here.](https://raw.githubusercontent.com/axrd/datasets/master/tipdata.csv)
Import it and return the first 5 rows:

In [25]:
### YOUR CODE GOES HERE ###
df = pd.read_csv("/Users/heyu/Desktop/dataframe1.csv")
print(df.head())

   ,  total_bill   tip     sex smoker  day    time size
0  0       16.99  1.01  Female     No  Sun  Dinner    2
1  1       10.34  1.66    Male     No  Sun  Dinner    3
2  2       21.01  3.50    Male     No  Sun  Dinner    3
3  3       23.68  3.31    Male     No  Sun  Dinner    2
4  4       24.59  3.61  Female     No  Sun  Dinner    4

### What is the shape of the DataFrame?

In [26]:
### YOUR CODE GOES HERE ###
print(df.shape)

(244, 8)

### Get specific values

In [27]:
# What is the gender of the server in the 41st entry?

### YOUR CODE GOES HERE ###
print(df.loc[40, 'sex'])

Male

In [28]:
# Was the 22nd entry seated in a smoking section??

### YOUR CODE GOES HERE ###
print(df.loc[21, 'smoker'])

No

### Get a range of values

In [29]:
# Return the last 20 entries

## YOUR CODE GOES HERE ###
print(df.tail(20))

       ,  total_bill   tip     sex smoker   day    time size
224  224       13.42  1.58    Male    Yes   Fri   Lunch    2
225  225       16.27  2.50  Female    Yes   Fri   Lunch    2
226  226       10.09  2.00  Female    Yes   Fri   Lunch    2
227  227       20.45  3.00    Male     No   Sat  Dinner    4
228  228       13.28  2.72    Male     No   Sat  Dinner    2
229  229       22.12  2.88  Female    Yes   Sat  Dinner    2
230  230       24.01  2.00    Male    Yes   Sat  Dinner    4
231  231       15.69  3.00    Male    Yes   Sat  Dinner    3
232  232       11.61  3.39    Male     No   Sat  Dinner    2
233  233       10.77  1.47    Male     No   Sat  Dinner    2
234  234       15.53  3.00    Male    Yes   Sat  Dinner    2
235  235       10.07  1.25    Male     No   Sat  Dinner    2
236  236       12.60  1.00    Male    Yes   Sat  Dinner    2
237  237       32.83  1.17    Male    Yes   Sat  Dinner    2
238  238       35.83  4.67  Female     No   Sat  Dinner    3
239  239       29.03  5.92    Male     No   Sat  Dinner    3
240  240       27.18  2.00  Female    Yes   Sat  Dinner    2
241  241       22.67  2.00    Male    Yes   Sat  Dinner    2
242  242       17.82  1.75    Male     No   Sat  Dinner    2
243  243       18.78  3.00  Female     No  Thur  Dinner   2}

In [30]:
# Return entries 25 through 50

### YOUR CODE GOES HERE ###
df.iloc[24:50]

     ,  total_bill   tip     sex smoker  day    time size
24  24       19.82  3.18    Male     No  Sat  Dinner    2
25  25       17.81  2.34    Male     No  Sat  Dinner    4
26  26       13.37  2.00    Male     No  Sat  Dinner    2
27  27       12.69  2.00    Male     No  Sat  Dinner    2
28  28       21.70  4.30    Male     No  Sat  Dinner    2
29  29       19.65  3.00  Female     No  Sat  Dinner    2
30  30        9.55  1.45    Male     No  Sat  Dinner    2
31  31       18.35  2.50    Male     No  Sat  Dinner    4
32  32       15.06  3.00  Female     No  Sat  Dinner    2
33  33       20.69  2.45  Female     No  Sat  Dinner    4
34  34       17.78  3.27    Male     No  Sat  Dinner    2
35  35       24.06  3.60    Male     No  Sat  Dinner    3
36  36       16.31  2.00    Male     No  Sat  Dinner    3
37  37       16.93  3.07  Female     No  Sat  Dinner    3
38  38       18.69  2.31    Male     No  Sat  Dinner    3
39  39       31.27  5.00    Male     No  Sat  Dinner    3
40  40       16.04  2.24    Male     No  Sat  Dinner    3
41  41       17.46  2.54    Male     No  Sun  Dinner    2
42  42       13.94  3.06    Male     No  Sun  Dinner    2
43  43        9.68  1.32    Male     No  Sun  Dinner    2
44  44       30.40  5.60    Male     No  Sun  Dinner    4
45  45       18.29  3.00    Male     No  Sun  Dinner    2
46  46       22.23  5.00    Male     No  Sun  Dinner    2
47  47       32.40  6.00    Male     No  Sun  Dinner    4
48  48       28.55  2.05    Male     No  Sun  Dinner    3
49  49       18.04  3.00    Male     No  Sun  Dinner    2

### Filtering and subsetting:

In [33]:
# Return all the entres where the size is greater than 2.

### YOUR CODE GOES HERE ###
print(df.dtypes)
print(df.columns)
df['size'] = pd.to_numeric(df['size'], errors='coerce')
df[df['size'] > 2]

,               int64
total_bill    float64
tip           float64
sex            object
smoker         object
day            object
time           object
size           object
dtype: object
Index([',', 'total_bill', 'tip', 'sex', 'smoker', 'day', 'time', 'size'], dtype='object')

       ,  total_bill   tip     sex smoker  day    time  size
1      1       10.34  1.66    Male     No  Sun  Dinner   3.0
2      2       21.01  3.50    Male     No  Sun  Dinner   3.0
4      4       24.59  3.61  Female     No  Sun  Dinner   4.0
5      5       25.29  4.71    Male     No  Sun  Dinner   4.0
7      7       26.88  3.12    Male     No  Sun  Dinner   4.0
..   ...         ...   ...     ...    ...  ...     ...   ...
227  227       20.45  3.00    Male     No  Sat  Dinner   4.0
230  230       24.01  2.00    Male    Yes  Sat  Dinner   4.0
231  231       15.69  3.00    Male    Yes  Sat  Dinner   3.0
238  238       35.83  4.67  Female     No  Sat  Dinner   3.0
239  239       29.03  5.92    Male     No  Sat  Dinner   3.0

[84 rows x 8 columns]

In [37]:
# Create a Dataframe consisting only of data for Fridays. 
# Hint: You should have 19 values.


### YOUR CODE GOES HERE ###

df_fridays = df[df['day'] == 'Fri']
print(df_fridays)
print({len(df_fridays)})

       ,  total_bill   tip     sex smoker  day    time  size
90    90       28.97  3.00    Male    Yes  Fri  Dinner   2.0
91    91       22.49  3.50    Male     No  Fri  Dinner   2.0
92    92        5.75  1.00  Female    Yes  Fri  Dinner   2.0
93    93       16.32  4.30  Female    Yes  Fri  Dinner   2.0
94    94       22.75  3.25  Female     No  Fri  Dinner   2.0
95    95       40.17  4.73    Male    Yes  Fri  Dinner   4.0
96    96       27.28  4.00    Male    Yes  Fri  Dinner   2.0
97    97       12.03  1.50    Male    Yes  Fri  Dinner   2.0
98    98       21.01  3.00    Male    Yes  Fri  Dinner   2.0
99    99       12.46  1.50    Male     No  Fri  Dinner   2.0
100  100       11.35  2.50  Female    Yes  Fri  Dinner   2.0
101  101       15.38  3.00  Female    Yes  Fri  Dinner   2.0
220  220       12.16  2.20    Male    Yes  Fri   Lunch   2.0
221  221       13.42  3.48  Female    Yes  Fri   Lunch   2.0
222  222        8.58  1.92    Male    Yes  Fri   Lunch   1.0
223  223       15.98  3.00  Female     No  Fri   Lunch   3.0
224  224       13.42  1.58    Male    Yes  Fri   Lunch   2.0
225  225       16.27  2.50  Female    Yes  Fri   Lunch   2.0
226  226       10.09  2.00  Female    Yes  Fri   Lunch   2.0
{19}

### Well done! Make sure your save your work. See you on the next notebook. - G



---